In [41]:
from pyDOE3 import ff2n
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [42]:
design = ff2n(3)  # Full factorial design for 3 factors
design_df = pd.DataFrame(design, columns=['Factor3', 'Factor2', 'Factor1'])
design_df['Replicate1'] = [550, 669, 633, 642, 1037, 749, 1075, 729]
design_df['Replicate2'] = [604, 650, 601, 635, 1052, 868, 1063, 860]

In [43]:
rep1 = design_df.drop(columns=['Replicate2'])
rep1 = rep1.rename(columns={'Replicate1': 'Response'})
rep1['Replicate'] = 0   
rep2 = design_df.drop(columns=['Replicate1'])
rep2 = rep2.rename(columns={'Replicate2': 'Response'})
rep2['Replicate'] = 1
repi = pd.concat([rep1, rep2], ignore_index=True)

In [44]:
linear_model = 'Response ~ Factor1 * Factor2 * Factor3'
from statsmodels.formula.api import ols
from statsmodels.stats.anova import anova_lm
model = ols(linear_model, data=repi).fit()
print(anova_lm(model, typ = 2))

                              sum_sq   df           F    PR(>F)
Factor1                   41310.5625  1.0   18.339364  0.002679
Factor2                     217.5625  1.0    0.096584  0.763911
Factor1:Factor2            2475.0625  1.0    1.098776  0.325168
Factor3                  374850.0625  1.0  166.410505  0.000001
Factor1:Factor3           94402.5625  1.0   41.908965  0.000193
Factor2:Factor3              18.0625  1.0    0.008019  0.930849
Factor1:Factor2:Factor3     126.5625  1.0    0.056186  0.818586
Residual                  18020.5000  8.0         NaN       NaN

In [109]:

data = [
    [-1, -1, -1, -1,  45],
    [ 1, -1, -1, -1,  71],
    [-1,  1, -1, -1,  48],
    [ 1,  1, -1, -1,  65],
    [-1, -1,  1, -1,  68],
    [ 1, -1,  1, -1,  60],
    [-1,  1,  1, -1,  80],
    [ 1,  1,  1, -1,  65],
    [-1, -1, -1,  1,  43],
    [ 1, -1, -1,  1, 100],
    [-1,  1, -1,  1,  45],
    [ 1,  1, -1,  1, 104],
    [-1, -1,  1,  1,  75],
    [ 1, -1,  1,  1,  86],
    [-1,  1,  1,  1,  70],
    [ 1,  1,  1,  1,  96],
]

df = pd.DataFrame(data, columns=['A', 'B', 'C', 'D', 'Response'])

print(df)

    A  B  C  D  Response
0  -1 -1 -1 -1        45
1   1 -1 -1 -1        71
2  -1  1 -1 -1        48
3   1  1 -1 -1        65
4  -1 -1  1 -1        68
5   1 -1  1 -1        60
6  -1  1  1 -1        80
7   1  1  1 -1        65
8  -1 -1 -1  1        43
9   1 -1 -1  1       100
10 -1  1 -1  1        45
11  1  1 -1  1       104
12 -1 -1  1  1        75
13  1 -1  1  1        86
14 -1  1  1  1        70
15  1  1  1  1        96

In [110]:
ols_form = '(Response) ~ A * B * C * D'

model = ols(ols_form, data=df).fit()

In [111]:
print(model.summary())
# Plotting the interaction plots

                            OLS Regression Results
==============================================================================
Dep. Variable:               Response   R-squared:                       1.000
Model:                            OLS   Adj. R-squared:                    nan
Method:                 Least Squares   F-statistic:                       nan
Date:                Mon, 26 May 2025   Prob (F-statistic):                nan
Time:                        01:26:15   Log-Likelihood:                 474.83
No. Observations:                  16   AIC:                            -917.7
Df Residuals:                       0   BIC:                            -905.3
Df Model:                          15
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept     70.0625        inf          0        nan         nan         nan
A             10.8125        inf          0        nan         nan         nan
B              1.5625        inf          0        nan         nan         nan
A:B            0.0625        inf          0        nan         nan         nan
C              4.9375        inf          0        nan         nan         nan
A:C           -9.0625        inf         -0        nan         nan         nan
B:C            1.1875        inf          0        nan         nan         nan
A:B:C          0.9375        inf          0        nan         nan         nan
D              7.3125        inf          0        nan         nan         nan
A:D            8.3125        inf          0        nan         nan         nan
B:D           -0.1875        inf         -0        nan         nan         nan
A:B:D          2.0625        inf          0        nan         nan         nan
C:D           -0.5625        inf         -0        nan         nan         nan
A:C:D         -0.8125        inf         -0        nan         nan         nan
B:C:D         -1.3125        inf         -0        nan         nan         nan
A:B:C:D        0.6875        inf          0        nan         nan         nan
==============================================================================
Omnibus:                        1.008   Durbin-Watson:                   0.865
Prob(Omnibus):                  0.604   Jarque-Bera (JB):                0.464
Skew:                           0.413   Prob(JB):                        0.793
Kurtosis:                       2.887   Cond. No.                         1.00
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

/Users/gabrielmiranda/micromamba/envs/SaaLab/lib/python3.9/site-packages/scipy/stats/_axis_nan_policy.py:531: UserWarning: kurtosistest only valid for n>=20 ... continuing anyway, n=16
  res = hypotest_fun_out(*samples, **kwds)
/Users/gabrielmiranda/micromamba/envs/SaaLab/lib/python3.9/site-packages/statsmodels/regression/linear_model.py:1795: RuntimeWarning: divide by zero encountered in divide
  return 1 - (np.divide(self.nobs - self.k_constant, self.df_resid)
/Users/gabrielmiranda/micromamba/envs/SaaLab/lib/python3.9/site-packages/statsmodels/regression/linear_model.py:1795: RuntimeWarning: invalid value encountered in scalar multiply
  return 1 - (np.divide(self.nobs - self.k_constant, self.df_resid)
/Users/gabrielmiranda/micromamba/envs/SaaLab/lib/python3.9/site-packages/statsmodels/regression/linear_model.py:1717: RuntimeWarning: divide by zero encountered in scalar divide
  return np.dot(wresid, wresid) / self.df_resid
/Users/gabrielmiranda/micromamba/envs/SaaLab/lib/python3.9/site-packages/statsmodels/base/model.py:1527: RuntimeWarning: invalid value encountered in multiply
  cov_p = self.normalized_cov_params * scale

In [112]:
model.model.exog_names
df['Name'] = model.model.exog_names

In [113]:
df_1 = pd.DataFrame({
    'A': 0,
    'B': 0,
    'C': 0,
    'D': 0,
    'Response': 73,
}, index=[0])
df_2 = pd.DataFrame({
    'A': 0,
    'B': 0,
    'C': 0,
    'D': 0,
    'Response': 75,
}, index=[0])
df_3 = pd.DataFrame({
    'A': 0,
    'B': 0,
    'C': 0,
    'D': 0,
    'Response': 66,
}, index=[0])
df_4 = pd.DataFrame({
    'A': 0,
    'B': 0,
    'C': 0,
    'D': 0,
    'Response': 69,
}, index=[0])
df = pd.concat([df, df_1, df_2, df_3, df_4], ignore_index=True)

In [114]:
df

    A  B  C  D  Response       Name
0  -1 -1 -1 -1        45  Intercept
1   1 -1 -1 -1        71          A
2  -1  1 -1 -1        48          B
3   1  1 -1 -1        65        A:B
4  -1 -1  1 -1        68          C
5   1 -1  1 -1        60        A:C
6  -1  1  1 -1        80        B:C
7   1  1  1 -1        65      A:B:C
8  -1 -1 -1  1        43          D
9   1 -1 -1  1       100        A:D
10 -1  1 -1  1        45        B:D
11  1  1 -1  1       104      A:B:D
12 -1 -1  1  1        75        C:D
13  1 -1  1  1        86      A:C:D
14 -1  1  1  1        70      B:C:D
15  1  1  1  1        96    A:B:C:D
16  0  0  0  0        73        NaN
17  0  0  0  0        75        NaN
18  0  0  0  0        66        NaN
19  0  0  0  0        69        NaN

In [127]:
model = ols('Response ~ A * B * C * D + I(A**2 + B**2 + C**2 + D**2)', data=df).fit()

In [128]:
anova_lm(model)

,df,sum_sq,mean_sq,F,PR(>F)
A,1.0,1870.5625,1870.5625,115.111538,0.001731
B,1.0,39.0625,39.0625,2.403846,0.218821
A:B,1.0,0.0625,0.0625,0.003846,0.954450
C,1.0,390.0625,390.0625,24.003846,0.016273
A:C,1.0,1314.0625,1314.0625,80.865385,0.002903
B:C,1.0,22.5625,22.5625,1.388462,0.323620
A:B:C,1.0,14.0625,14.0625,0.865385,0.420856
D,1.0,855.5625,855.5625,52.650000,0.005401
A:D,1.0,1105.5625,1105.5625,68.034615,0.003731
B:D,1.0,0.5625,0.5625,0.034615,0.864273
A:B:D,1.0,68.0625,68.0625,4.188462,0.133202
C:D,1.0,5.0625,5.0625,0.311538,0.615686
A:C:D,1.0,10.5625,10.5625,0.650000,0.479099
B:C:D,1.0,27.5625,27.5625,1.696154,0.283757
A:B:C:D,1.0,7.5625,7.5625,0.465385,0.544069
I(A ** 2 + B ** 2 + C ** 2 + D ** 2),1.0,1.5125,1.5125,0.093077,0.780243
Residual,3.0,48.7500,16.2500,NaN,NaN